<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>🎵Let The Stall Walls Sing Their Praises🎵</h1>
  <% if (user) { %>
    <h2>Whats the vibes?</h2>
    <form action="/currentfavs" method="POST">
      <label>
        Song: 
        <input type="text" name="song" autocomplete="off">
      </label>
      <label>
        Band:
        <input type="text" name="band">
      </label>
      <button type="submit">Add Current Favorite</button>
    </form>
  <% } %>
  <h2>The Vibes</h2>
	<ul>
  <% currentfavs.forEach(currentfav => { %>
    <li>
      🎵 
      <a href="/currentfavs/<%= currentfav._id %>"><%= currentfav.song %></a> 
      by <%= currentfav.band %>
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>